<!DOCTYPE html>
<html>

<head>
    <title><%- titulo %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            display: flex;
            flex: 1;
            padding-right: 5px;
            padding-left: 5px;
        }

        .columna {
            flex: 1;
            padding: 20px;
            border: 1px solid #ccc;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 2px;
        }

        html,
        body {
            height: 100%;
        }

        .cTop {
            column-count: 3;
            column-gap: 20px;
            max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
            margin: 0 auto; /* Centra el contenedor */
        }

        .coltop {
            break-inside: avoid; /* Evita que se divida dentro de la columna */
            margin-bottom: 20px; /* Espaciado entre las columnas */
        }
        .enlace-descarga {
            color: rgb(69, 69, 77);
            /* Otros estilos que desees aplicar */
        }
        .enlace-descarga:hover {
            color: rgb(43, 63, 151);
            text-decoration: underline;
        /* Estilos adicionales cuando el cursor está sobre el enlace */
        }

        .scrollable-container {
            max-height: 400px; /* Establece la altura máxima para que aparezca la barra de desplazamiento */
            overflow-y: auto;  /* Agrega una barra de desplazamiento vertical cuando sea necesario */
        }

        /* barra nav */
        .bg-dark {
            background-color: #941f3e!important;
        }
        .btn-secondary {
            color: #fff;
            background-color: #741734;
            border-color: #6C0424;
        }
        .btn-secondary:hover {
            color: #fff;
            background-color: #941C3C;
            border-color: #6C0424;
        }
        .dropdown-menu {
            background-color: #741734;
        }
        .dropdown-divider{
            border-color: #6C0424;
        }
        .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
            color: #fff;
            background-color: #941C3C;
            border-color: #6C0424;
        }
        /* footer */
        footer {
            background-color: #941f3e;
            color: white;
            text-align: center;
            padding: 2px;
        }
        
    </style>
</head>

<body>
    <div class="pos-f-t sticky-top bg-dark">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4" style="color: white;">
                <h7 class="text-white h4"><%- detalle %></h7>
                <div class="cTop">
                    <div class="coltop">
                        <h5><%- top.name %></h5>
                        <% if (tipo == 'escuela') { %>
                            <b><%- top.zona %></b>
                        <% } %>
                    </div>

                    <div class="coltop">
                        Detalles
                        <br />
                        <% if (typeof top.noMunicipios == 'string') { %>
                            Municipios: <b><%- top.noMunicipios %></b><br />    
                        <% } %>
                        Escuelas: <b><%- top.noEscuelas %></b><br />
                        Alumnos: <b><%- top.noAlumnos %></b><br />
                        - Niñas: <b><%- top.generos.girls %></b><br />
                        - Niños: <b><%- top.generos.boys %></b>

                        <br>Edades<br>
                        10 años: <b><%- top.age_10 %></b><br />
                        11 años: <b><%- top.age_11 %></b><br />
                    </div>
                
                    <div class="coltop">
                        <br>Mejor escuela<br />
                        <b><%- top.best_school %></b><br />
                        <br>Peor escuela<br />
                        <b><%- top.worst_school %></b><br />
                        <br>
                        12 años: <b><%- top.age_12 %></b><br />
                        13 años: <b><%- top.age_13 %></b>
                    </div>

                    <div class="coltop">
                        <br>Top sección <br />
                        Mejor: <b><%- top.topSeccion.mejor %></b><br />
                        Peor: <b><%- top.topSeccion.peor %></b>
                    </div>

                    <div class="coltop">
                        <br>Promedio de calificaciónes<br />
                        Reading/Writing: <b><%- top.qualification_reading %></b><br />
                        Speaking: <b><%- top.qualification_speaking %></b><br>
                        Listening: <b><%- top.qualification_listening %></b>
                    </div>
                </div>

                <% if (topMunicipio != 0 ) { %> 
                    <h7 class="text-white h4">Detalles del municipio</h7>
                    <div class="cTop">
                        <div class="coltop">
                            <h5><%- topMunicipio.name %></h5>
                        </div>

                        <div class="coltop">
                            Detalles
                            <br />
                            Escuelas: <b><%- topMunicipio.noEscuelas %></b><br />
                            Alumnos: <b><%- topMunicipio.noAlumnos %></b><br />
                            - Niñas: <b><%- topMunicipio.generos.girls %></b><br />
                            - Niños: <b><%- topMunicipio.generos.boys %></b>

                            <br><br>Edades<br>
                            10 años: <b><%- topMunicipio.age_10 %></b><br />
                            11 años: <b><%- topMunicipio.age_11 %></b><br />
                        </div>

                        <div class="coltop">
                            <br>Mejor escuela<br />
                            <b><%- topMunicipio.best_school %></b><br />
                            <br>Peor escuela<br />
                            <b><%- topMunicipio.worst_school %></b><br />

                            <br>
                            12 años: <b><%- topMunicipio.age_12 %></b><br />
                            13 años: <b><%- topMunicipio.age_13 %></b>
                        </div>
                    
                        <div class="coltop">
                            <br> Secciones <br />
                            Mejor: <b><%- topMunicipio.topSeccion.mejor %></b><br />
                            Peor: <b><%- topMunicipio.topSeccion.peor %></b>
                        </div>

                        <div class="coltop">
                            <br>Promedio de calificaciónes<br />
                            Reading/Writing: <b><%- topMunicipio.qualification_reading %></b><br />
                            Speaking: <b><%- topMunicipio.qualification_speaking %></b><br>
                            Listening: <b><%- topMunicipio.qualification_listening %></b>
                        </div>
                    </div>
                <% } %>


                <% if (topEscuela != 0 ) { %> 
                    <h7 class="text-white h4">Detalles de la escuela</h7>
                    <div class="cTop">
                        <div class="coltop">
                            <h5><%- titulo %></h5>
                        </div>

                        <div class="coltop">
                            Detalles
                            <br />
                            Alumnos: <b><%- topEscuela.students_number %></b><br />
                            - Niñas: <b><%- topEscuela.girl %></b><br />
                            - Niños: <b><%- topEscuela.boy %></b>

                            <br><br>Edades<br>
                            10 años: <b><%- topEscuela.age_10 %></b><br />
                            11 años: <b><%- topEscuela.age_11 %></b><br />
                        </div>
                    
                        <div class="coltop">
                            <br> Secciones <br />
                            Mejor: <b><%- topEscuela.best_section %></b><br />
                            Peor: <b><%- topEscuela.worst_section %></b>

                            <br /><br> Grupo <br />
                            Mejor: <b><%- topEscuela.best_group %></b><br />

                            <br>
                            12 años: <b><%- topEscuela.age_12 %></b><br />
                            13 años: <b><%- topEscuela.age_13 %></b>
                        </div>

                        <div class="coltop">
                            <br>Promedio de calificaciónes<br />
                            Reading/Writing: <b><%- topEscuela.qualification_reading %></b><br />
                            Speaking: <b><%- topEscuela.qualification_speaking %></b><br>
                            Listening: <b><%- topEscuela.qualification_listening %></b>
                        </div>
                    </div>
                <% } %>

            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-text">
                <% if (tipo == 'municipio') { %>
                    Municipio: <%- titulo %>
                <% } %>

                <% if (tipo == 'escuela') { %>
                    Escuela: <%- titulo %>
                <% } %>

                <% if (tipo == 'zona') { %>
                    <%- titulo %>
                <% } %>
            </span>
            <a href="/vsts/cretam/proni" class="btn btn-secondary" type="button"
               aria-haspopup="true" data-display="static">
                <img src="/icon/left.svg" alt="Icono">
            </a>
            <button type="button" class="btn btn-secondary"  aria-haspopup="true" data-display="static" 
                data-toggle="modal" data-target="#exampleModalScrollable">
                <img src="/icon/info.svg" alt="Icono">
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

    <div class="container">
        <div class="columna">
            <img src="/img/logo.png" width="350px">
            <!-- Contenido de la primera columna -->
            <h2>Tablas</h2>
            <p style="text-align: justify;">Las tablas presentan los datos que sirvieron como base para la creación de las gráficas. 
                Estas tablas actúan como la fuente primaria de información cuantitativa, proporcionando detalles específicos sobre cada variable medida. Cada celda en las tablas representa un punto de datos específico. 
                Mientras que las gráficas ofrecen una visualización más intuitiva, las tablas respaldan y detallan los valores cuantitativos que respaldan las representaciones visuales.</p>
            
            <h2>Imagenes</h2>
            <p style="text-align: justify;"> Las imágenes de las gráficas capturan visualmente los resultados obtenidos a través del formulario de recopilación de datos. 
                Estas representaciones gráficas no solo ofrecen una presentación de los resultados, sino que también proporcionan una visión detallada del análisis cuantitativo empleado en el estudio.</p>
            <div class="contenido scrollable-container" style="text-align: -webkit-center;">

                <table class="table">
                    <thead>
                      <tr>

                      </tr>
                    </thead>
                    <tbody>
                        <% tablas.forEach(function(tlb, indexTlb){ %>
                        <tr>
                            <!-- Tabla -->
                            <td>
                                <br>
                                <h6 style="text-align: left;">Tabla <%= indexTlb + 1%> : <a class="enlace-descarga" onclick="descargarCSV('<%= linkTablas[indexTlb] %>', <%= indexTlb %>)">Ver CSV</a>
                                </h6> 
                                <br>
                                <div style="overflow-x: auto; max-width: 500px; max-height: 400px;"> <!-- Establece un ancho máximo para la tabla y permite el desplazamiento horizontal -->
                                    
                                    <table class="table table-bordered" style="width: 100%;"> <!-- Hace que la tabla ocupe el 100% del ancho del contenedor -->
                                        <thead>
                                          <tr>
                                            <% cabezeras[indexTlb].forEach(function(cbz) { %>
                                              <th style="width: auto; vertical-align: middle;"> <!-- Puedes ajustar el ancho de las columnas según sea necesario -->
                                                <%= cbz %>
                                              </th>
                                            <% }); %>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% tlb.forEach(function(dato) { %>
                                            <tr>
                                              <% cabezeras[indexTlb].forEach(function(cbz) { %>
                                                <td>
                                                  <%= dato[cbz] || '0' %>
                                                </td>
                                              <% }); %>
                                            </tr>
                                          <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <!-- Imagen -->
                            <td>
                                <% img = imagenes[indexTlb] %>
                                <br>
                                <h6 style="text-align: left;">Imagen <%= indexTlb + 1%> : <a class="enlace-descarga" href="<%- img %>" target="_blank">Abrir Imagen</a>
                                </h6>
                                <br>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <p> <%= defGeneral[indexTlb].definicion %></p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="<%- img %>" width="500"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
          <div class="modal-content" style="text-align: justify;">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Información</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <p>
                    Se describen varias columnas que ofrecen información sobre la evaluación académica. 
                    Desde el rendimiento promedio en diferentes secciones hasta las calificaciones asignadas por revisores y detalles demográficos, 
                    cada columna proporciona datos para comprender el panorama educativo.
                </p>
                <ul>
                    <li><strong>Sección:</strong> La categoría o división específica bajo la cual se evalúan las habilidades lingüísticas de los estudiantes, como Listening, Reading/Writing, o Speaking.</li>
                    
                    <li><strong>Aciertos promedio:</strong> La cantidad promedio de respuestas correctas obtenidas en una sección particular, indicando el rendimiento general en esa área.</li>
                    
                    <li><strong>Calificación:</strong> La evaluación asignada a una sección específica, expresada en términos de letras (A-, A, A+) para reflejar el nivel de competencia alcanzado.</li>
                    
                    <li><strong>Número de estudiantes con esa calificación por sección:</strong> La cantidad de estudiantes que obtuvieron una calificación específica en una sección determinada, proporcionando una visión de las calificaciones.</li>
                    
                    <li><strong>Promedio de aciertos asignada por revisores:</strong> La media de respuestas correctas dadas por los revisores para evaluar el desempeño general de los estudiantes.</li>
                    
                    <li><strong>Calificación promedio:</strong> La evaluación promedio otorgada a los estudiantes, considerando todas las secciones evaluadas.</li>
                    
                    <li><strong>Cantidad:</strong> La cantidad total de elementos, ya sea estudiantes, respuestas correctas, etc., dependiendo del contexto de la columna.</li>
                    
                    <li><strong>Género:</strong> La clasificación de los estudiantes en categorías como niño o niña, proporcionando información sobre la distribución de género en el grupo evaluado.</li>
                    
                    <li><strong>Edad:</strong> La edad de los estudiantes evaluados en la muestra, brindando información sobre la demografía del grupo.</li>
                    
                    <li><strong>Correct Answers Listening:</strong> La cantidad promedio de respuestas correctas asignadas a la sección de Listening.</li>
                    
                    <li><strong>Correct Answers Reading/Writing:</strong> El promedio de respuestas correctas asignadas a la sección de Reading/Writing, indicando el nivel de competencia en habilidades de lectura y escritura.</li>
                    
                    <li><strong>Correct Answers Speaking Part 1 y Part 2:</strong> La cantidad promedio de respuestas correctas asignadas a cada una de las secciones de Speaking Part 1 y Part 2, respectivamente.</li>
                    
                    <li><strong>Correct Answers Speaking:</strong> La cantidad promedio de respuestas correctas asignadas a la sección de Speaking en su conjunto, combinando las partes 1 y 2.</li>
                    
                    <li><strong>Reviewer Answers Listening, Reading/Writing, Speaking Part 1 y Part 2:</strong> La cantidad promedio de respuestas proporcionadas por los revisores en cada una de las secciones mencionadas, reflejando la evaluación de los revisores en las habilidades específicas de los estudiantes.</li>
                    
                    <li><strong>Qualification Speaking Part 1, Part 2 y Speaking:</strong> La calificación promedio otorgada a las secciones de Speaking Part 1, Part 2 y la sección de Speaking.</li>
                    
                    <li><strong>Qualification Listening, Reading/Writing:</strong> La calificación promedio asignada a las secciones de Listening y Reading/Writing, respectivamente.</li>
                    
                    <li><strong>Percentage Correct Listening, Reading/Writing, Speaking Part 1 y Part 2:</strong> El porcentaje promedio de respuestas correctas en cada una de las secciones mencionadas, proporcionando una perspectiva de la precisión en cada área.</li>
                    
                    <li><strong>Percentage Correct Speaking:</strong> El porcentaje promedio de respuestas correctas en la sección de Speaking, combinando las partes 1 y 2.</li>
                    
                    <li><strong>Percentage Correct:</strong> El porcentaje promedio de respuestas correctas en general, considerando todas las secciones evaluadas.</li>
                    
                    <li><strong>Top:</strong> Una etiqueta que podría indicar una clasificación superior o un nivel destacado en el desempeño, dependiendo del contexto de la columna.</li>

                    <li><strong>CCT:</strong> Clave de la escuela.</li>
                        
                    <li><strong>Group:</strong> La categoría o grupo al que pertenece la pregunta en el informe.</li>
  
                    <li><strong>Question:</strong> La pregunta específica evaluada en el informe.</li>
                    
                    <li><strong>Number of Correct Answers:</strong> El número total de respuestas correctas para la pregunta.</li>
                    
                    <li><strong>Percentage of Correct Answers:</strong> El porcentaje de respuestas correctas en relación con el total de respuestas para la pregunta.</li>
                    
                    <li><strong>Percentage of Reviewers' Error:</strong> El porcentaje de error en las respuestas asignado por los revisores.</li>
                    
                    <li><strong>Frequency:</strong> La frecuencia con la que se ha encontrado la pregunta en el informe.</li>
                    
                    <li><strong>Average Percentage of Errors:</strong> El porcentaje promedio de errores para la pregunta, considerando múltiples instancias.</li>
                  
                    <li><strong>Escuela:</strong> Nombre de la escuela</li>
                </ul>
                  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
    </div>

    <footer>
        <!-- Pie de página -->
        <!-- <p>Vanessa Melenciano Llamas, Isaul Ibarra Belmonte, Ezra federico Parra Gonzalez © 2023 VSTS</p>  -->
        <p>CRETAM 2023 - PRONI © VSTS</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        function descargarCSV(url, index) {
            alert("Para descargar el archivo, En la nueva ventana, click derecho en los datos y luego: 'Guardar como'")
            // URL del archivo CSV
            var urlArchivoCSV = url;
        
            // Crear un enlace temporal
            var enlaceTemporal = document.createElement('a');
            enlaceTemporal.href = urlArchivoCSV;
            enlaceTemporal.target="_blank";
        
            // Simular clic en el enlace para iniciar la descarga
            document.body.appendChild(enlaceTemporal);
            enlaceTemporal.click();
            document.body.removeChild(enlaceTemporal);
        }
    </script>
</body>

</html>